body {
    background: linear-gradient(to bottom, #2b2a2a 0%,#4d5350 100%);
    font-family: sans-serif 
}


/*Tableau*/
table {

    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: white;

}

/*Ligne
tr {


}
*/


/*Cellule*/
td {

    font-family: sans-serif;
    font-size: 80px;
    border: 3px solid;
    border-image-slice: 1;
    text-align: center;
    width: 150px;
    height: 150px;
}


#txt_joueur {

  text-align: center;
  color: white;
}


.button1 {
    color: #11998e; 
    border: 2px solid #11998e;
    padding: 25px 56px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button1:hover {
    color: #38ef7d;
    transition-duration: 500ms;
    border: 2px solid #38ef7d;

  }


form__group {
    position: relative;
    padding: 15px 0 0;
    width: 25%;
  }
  
  .form__field {
    font-family: inherit;
    width: 15%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    top : 230px;
    left : 20px;
    position: absolute;
  }

#j2 {
  top : 300px;
  color: white;
  font-family: sans-serif
}

#j1 {
    color: white;
}